<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ItemMapper">

<insert id="insertItemRegister">
	<selectKey keyProperty="itemno" order="BEFORE" resultType="int">
		select item_seq.nextVal from dual
	</selectKey>
		 
	insert into item(itemno,category,title,content,rentcost,deposit,userid) 
	values(#{itemno},#{category},#{title},#{content},#{rentcost},#{deposit},#{userid})
</insert>
<!-- <select id="getList" resultType="com.spring.domain.BoardVO">
	  <![CDATA[		
		select * 
		from(
			select  /*+INDEX_DESC(spring_board pk_spring_board)*/
			rownum rn,bno,title,writer,regdate,updatedate,replycnt
			from spring_board where
		]]>
		<include refid="criteria"></include>			
	  <![CDATA[		
		 rownum <= #{pageNum}*#{amount})
		where rn> (#{pageNum}-1)*#{amount}	
	  ]]>	
	</select> -->

<!-- 제품 목록 가져오기  -->
<select id="selectItemList" resultType="com.spring.domain.ItemVO">
	select * from item order by readcount desc
</select>

<!--  제품목록 카테고리에 의거해서 가져오기 -->
<select id="totalList" resultType="com.spring.domain.ItemVO">
<![CDATA[		
	select * from (select rownum rn, itemno, category,title,rentcost
    from (select * from item where category like '%'||#{category}||'%' order by readcount desc)
    where rownum <= #{pageNum}*#{amount})where rn> (#{pageNum}-1)*#{amount}
    ]]>
</select>
<select id="totalCount" resultType="int">
	select count(*) from item where category like '%'||#{category}||'%'
</select>




<!-- 
<select id="getReviewList" resultType="com.spring.domain.ReviewVO">
	select * from review
</select>

<update id="update">
	update spring_board set title=#{title},  content=#{content} where bno=#{bno}
</update>
<delete id="delete">
	delete from spring_board where bno=#{bno}
</delete>
페이지 나누기를 위한 전체 게시물 수 구하기
<select id="getTotalCount" resultType="int">
	select count(*)
      from spring_board
      where bno>0
</select>
댓글 수 수정
<update id="updateReplycnt">
	update spring_board set replycnt = replycnt+#{amount}
	where bno=#{bno}
</update>
  동적 sql 
    -->
</mapper>