<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.RegisterMapper">

	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into members(userid,name,passwd,passwdconfirm,gender,address,email) 
		values(#{userid},#{name},#{passwd},#{passwdconfirm},#{gender},#{address},#{email})
	</insert>

	<!-- 로그인 -->
	<select id="login" resultType="com.spring.domain.AuthInfo">
		select userid,name from members where userid=#{userid} and passwd=#{current_password}
	</select>
	
	<!-- 중복 아이디 검사 -->
	<select id="selectById" resultType="com.spring.domain.RegisterVO">
		select * from members where userid=#{userid}
	</select>

	<!-- 탈퇴처리 -->
	<delete id="leave">
		delete from members where userid=#{userid} and passwd=#{current_password} 
	</delete>
	
	<!-- 임시 비밀번호로 사용자의 비밀번호를 변경해 놓기 -->
	<update id="updateUser">
		update members set passwd=#{newPass}
		where userid=#{userid}
	</update>
	
	<select id="getUser" resultType="com.spring.domain.RegisterVO">
		select *
		from members
		where userid=#{userid}
	</select>
		<!--  비밀번호 변경 -->
	<update id="changePwd">
		update members set passwd=#{new_password} where userid=#{userid}
	</update>
</mapper>